.fggc-form__group {
  @media (min-width: 640px) {
    &.uk-width-1-3\@s {
      .fggc-form__group__content {
        border-right-width: 0;
      }

      &:nth-child(3n),
      &:last-child {
        .fggc-form__group__content {
          border-right-width: 1px;
        }
      }
    }
  }

  &__title {
    margin-bottom: 0 !important;
  }

  &__content {
    border: 1px solid #dddddd;
    padding: 10px;

    .fggc-field-wrapper:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}